:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(213, 19%, 23%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  max-width: 100%;
}

h1 {
  font-weight: 700;
  color: white;
  margin: 0;
}

p {
  font-weight: 400;
  color: var(--light-grey);
  margin-bottom: calc(var(--font-size) * 2);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}

.wrapper {
  display: flex;
  background-color: var(--dark-blue);
  border-radius: var(--font-size);
  padding: calc(var(--font-size) * 2);
  width: calc(var(--font-size) * 24);
  height: calc(var(--font-size) * 24);
}

#rating-state {
  display: flex;
  flex-direction: column;
}

#rating-state img {
  width: var(--font-size);
  padding: var(--font-size);
  background-color: var(--medium-grey);
  border-radius: 50%;
  margin-bottom: var(--font-size);
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rating-state p {
  line-height: 1.5;
}

.ratings label {
  display: inline-flex;
  height: calc(var(--font-size) * 3.5);
  width: calc(var(--font-size) * 3.5);
  background-color: var(--medium-grey);
  border-radius: 50%;
  color: var(--light-grey);
  font-weight: 400;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: var(--font-size);
}

.ratings input[type="radio"] {
  display: none;
}

.ratings input[id="button1"] + label {
  margin-left: 0;
}

.ratings input[id="button5"] + label {
  margin-right: 0;
}

.ratings input[type="radio"]:hover + label {
  background-color: var(--orange);
  color: white;
}

.ratings input[type="radio"]:checked + label {
  background-color: var(--light-grey);
  color: white;
}

#submitButton {
  color: white;
  width: 100%;
  background-color: var(--orange);
  border: 0 solid;
  height: calc(var(--font-size) * 3);
  margin: var(--font-size) 0 0 0;
  border-radius: calc(var(--font-size) * 2);
}

#submitButton:hover {
  background-color: white;
  color: var(--orange);
}

#thankyou-state {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#thankyou-state img {
  margin: var(--font-size);
}

#thankyou-state p {
  line-height: 1.5;
}

.rating-statement {
  padding: calc(var(--font-size) * 0.5) var(--font-size);
  color: var(--orange);
  background-color: var(--medium-grey);
  border-radius: var(--font-size);
  line-height: 1;
}
